.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.stoplight-hourglass {
  display: flex;
  flex-direction: row;
}

app-start-restart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: .4vw solid black;
}

app-hourglass {
  padding: 0 0 0 2vw;
  width: 12vw;
}