.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*justify-content: center;*/
}

.stoplight-hourglass {
  display: flex;
  flex-direction: row;
  min-height: 28vw;
  padding: 2vw 0 2vw 0;
}

app-start-restart-stop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1vw solid black;
  background-color: black;
  border-radius: 30px;
  width:11vw;
}

app-hourglass {
  width: 13vw;
  padding: 0 0 0 2vw;
}

app-clock {
  font-size: 2vw;
}