<div class="break-length">
<span>Break Length: </span>
<input type="number" [(ngModel)]="timeService.breakLength" min="1">
</div>

<div class="pomodoro-length">
<span>Pomodoro Length: </span>
<input type="number" [(ngModel)]="timeService.pomodoroLength" min="1">
</div>

<div class="auto-start">
<span>Start Timer Automatically? </span>
<input type="checkbox" [(ngModel)]="timeService.autoStartNewTimers">
</div>

<div class="pomodoro-count">
<span>Pomodoro Count: </span>
<span>{{timeService.numberOfPomodoros}}</span>
<button (click)="timeService.clearCount()" class="clear">Clear</button>
</div>