<svg id="Colors" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 450">
  <defs>
    <linearGradient id="Water_5" x1="191" y1="298" x2="391" y2="298" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#c1e0ef"/>
      <stop offset="0.5" stop-color="#9bd0e8"/>
      <stop offset="0.76" stop-color="#8dcbe5"/>
      <stop offset="1" stop-color="#86c8e4"/>
    </linearGradient>
    <linearGradient id="Earthtone_4" x1="196.38" y1="221" x2="384.49" y2="221" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e5ca9b"/>
      <stop offset="0.5" stop-color="#e0bf86"/>
      <stop offset="1" stop-color="#d09f43"/>
    </linearGradient>
    <linearGradient id="Earthtone_5" x1="2.62" y1="20" x2="186.62" y2="20" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e0c595"/>
      <stop offset="0.5" stop-color="#c7983c"/>
      <stop offset="1" stop-color="#bf7c26"/>
    </linearGradient>
  </defs>
  <path class="glass-texture" d="M297.41,298C319.49,280.38,391,219.71,391,173a100,100,0,0,0-200,0c0,46.71,71.51,107.38,93.59,125C262.51,315.62,191,376.29,191,423a100,100,0,0,0,200,0C391,376.29,319.49,315.62,297.41,298Z" transform="translate(-191 -73)"/>

  <path #topBottomSand class="top-bottom-sand" d="M291,292a9.22,9.22,0,0,0,5-2c14.17-11.5,63.72-55.53,84-97l.52-1.62A84.52,84.52,0,0,0,383,150H199c-4,13-2.8,25.6-.49,38.33L200,192c20.29,41.46,71.61,86.48,86,98A9.32,9.32,0,0,0,291,292Z" transform="translate(-190.6 -72)" />

  <ellipse #topTopSand class="top-top-sand" cx="100.5" cy="80" rx="92" ry="20"/>
</svg>