<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 450">
    <defs>
        <style>.cls-1{fill:url(#Water_5);}.cls-2{fill:url(#Earthtone_4);}.cls-3{fill:url(#Earthtone_5);}.cls-4{fill:url(#Earthtone_4-2);}.cls-5{fill:url(#Earthtone_5-2);}.cls-6{opacity:0.07;}.cls-7{fill:url(#linear-gradient);}.cls-8{opacity:0.32;}.cls-9{fill:url(#linear-gradient-2);}.cls-10{opacity:0.18;}.cls-11{fill:url(#linear-gradient-3);}</style>
        <linearGradient id="Water_5" x1="191" y1="298" x2="391" y2="298" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#c1e0ef" />
            <stop offset="0.5" stop-color="#9bd0e8" />
            <stop offset="0.76" stop-color="#8dcbe5" />
            <stop offset="1" stop-color="#86c8e4" />
        </linearGradient>
        <linearGradient id="Earthtone_4" x1="196.78" y1="448" x2="382.78" y2="448" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#e5ca9b" />
            <stop offset="0.5" stop-color="#e0bf86" />
            <stop offset="1" stop-color="#d09f43" />
        </linearGradient>
        <linearGradient id="Earthtone_5" x1="210" y1="386" x2="372" y2="386" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#e0c595" />
            <stop offset="0.5" stop-color="#c7983c" />
            <stop offset="1" stop-color="#bf7c26" />
        </linearGradient>
        <linearGradient id="Earthtone_4-2" x1="200.98" y1="289.5" x2="380.02" y2="289.5" xlink:href="#Earthtone_4" />
        <linearGradient id="Earthtone_5-2" x1="10" y1="120" x2="189" y2="120" xlink:href="#Earthtone_5" />
        <linearGradient id="linear-gradient" x1="147" y1="104" x2="161" y2="104" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset="1" stop-color="#fff" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="212" y1="179.23" x2="332.84" y2="179.23" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset="0.51" stop-color="#fff" stop-opacity="0" />
            <stop offset="1" stop-color="#fff" stop-opacity="0.3" />
        </linearGradient>
        <linearGradient id="linear-gradient-3" x1="229.23" y1="375.47" x2="335.47" y2="481.72" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset="0.29" stop-color="#fff" stop-opacity="0" />
            <stop offset="0.3" stop-color="#fff" stop-opacity="0" />
            <stop offset="1" stop-color="#fff" stop-opacity="0" />
        </linearGradient>
    </defs>
    <title>Hourglass</title>
    <g id="Colors">
        <path class="cls-1" d="M297.41,298C319.49,280.38,391,219.71,391,173a100,100,0,0,0-200,0c0,46.71,71.51,107.38,93.59,125C262.51,315.62,191,376.29,191,423a100,100,0,0,0,200,0C391,376.29,319.49,315.62,297.41,298Z" transform="translate(-191 -73)" />
        <path class="cls-2" d="M289.78,513c55.23,0,93-38,93-98,0-9.58-3.6-22-11.59-32H210.78c-7,9-14,24-14,34C196.78,477,234.55,513,289.78,513Z" transform="translate(-191 -73)" />
        <path class="cls-3" d="M372,386c0-11-32.07-20-81.5-20S210,375,210,386s31.07,20,80.5,20S372,397,372,386Z" transform="translate(-191 -73)" />
        <path class="cls-4" d="M291,386s2.62-93.05,5-95c14.17-11.62,63.72-56.11,84-98H201c20.29,41.89,70.63,86.38,85,98C288.41,292.95,291,386,291,386Z" transform="translate(-191 -73)" />
        <ellipse class="cls-5" cx="99.5" cy="120" rx="89.5" ry="20" />
    </g>
    <g id="Highlights">
        <g class="cls-6">
            <polygon class="cls-7" points="161 111 147 113 147 95 161 98 161 111" />
        </g>
        <g class="cls-8">
            <path class="cls-9" d="M212,173c0,38.44,48.43,86.33,77.88,111.9-25.1-27.77-47.31-60.31-47.31-88.51A117.43,117.43,0,0,1,332.84,82.16a99.33,99.33,0,0,0-31.34-8.61A100,100,0,0,0,212,173Z" transform="translate(-191 -73)" />
        </g>
        <g class="cls-10">
            <path class="cls-11" d="M240.57,407.06A71.56,71.56,0,0,1,245.21,383c7.8-21.68,24.47-44.32,42.67-64.45-18,15.59-43,39.47-59.75,64.45C217.38,399,210,415.45,210,430.45a99.65,99.65,0,0,0,27.46,68.83C251.95,508.22,269.7,513,289.78,513a112.3,112.3,0,0,0,15.47-1.05A117.35,117.35,0,0,1,240.57,407.06Z" transform="translate(-191 -73)" />
        </g>
    </g>
</svg>
