<svg id="Colors" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 450">
  <defs>
    <linearGradient id="Water_5" x1="0.4" y1="226" x2="200.4" y2="226" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#c1e0ef" />
      <stop offset="0.5" stop-color="#9bd0e8" />
      <stop offset="0.76" stop-color="#8dcbe5" />
      <stop offset="1" stop-color="#86c8e4" />
    </linearGradient>
    <linearGradient id="Earthtone_4" x1="5.78" y1="149" x2="193.89" y2="149" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e5ca9b" />
      <stop offset="0.5" stop-color="#e0bf86" />
      <stop offset="1" stop-color="#d09f43" />
    </linearGradient>
    <linearGradient id="Earthtone_5" x1="2.62" y1="20" x2="186.62" y2="20" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e0c595" />
      <stop offset="0.5" stop-color="#c7983c" />
      <stop offset="1" stop-color="#bf7c26" />
    </linearGradient>
  </defs>
  <path class="glass-texture" d="
  M 106.81,226
  C 128.89,208.38 200.4,147.71 200.4,101
  a 100,100 0 0,0-200,0
  c 0,46.71 71.51,107.38 93.59,125
  C 71.91,243.62 0.4,304.29 0.4,351
  a 100,100 0 0,0 200,0
  C 200.4,304.29 128.89,243.62 106.81,226
  Z" />

  <circle #droppingSand1 cx="100" cy="220" r="2" />
  <circle #droppingSand2 cx="100" cy="220" r="2" />
  <circle #droppingSand3 cx="100" cy="220" r="2" />

  <path #topBottomSand class="top-bottom-sand" d="
    M 100,220
    Q 180,160 195,100
    H 5
    Q 22,160 100,220
    Z" />

  <ellipse #topTopSand class="top-top-sand" cx="100" cy="100" rx="94.5" ry="20" />

  <path #bottomBottomSand class="bottom-bottom-sand" d="
      M 100,442
      C 100,442 102,441 101,441
      H 99
      C 98,443 100,442 100,442
      Z" />

  <ellipse #bottomTopSand class="bottom-top-sand" cx="100" cy="441" rx="1" ry="1" />
</svg>